
<!-- TODO: Put a script here which checks if the user is logged in or not. If the user is not logged in, they must be redirected to the login page.  -->


<!DOCTYPE html>
<html lang='en'>
<head>
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <link rel="stylesheet" href="static/css/styles.css">
  <meta charset="utf-8">
  <title>Newsmap</title>
</head>
<body>

    <div id="titleBar">
      <img src="media/icons/profile.svg" alt="profile" id="profilePic">
      <div id="titleDiv">
        <img src="media/logo/icon.svg" alt="logo" id="siteLogo"> 
        <h1 id="siteTitle">Newsmap</h1>
      </div>
    </div>

    <div id="siteContent">
      <div id="mapBlock">
        <div id="tabs">

        </div>
        <div id="map"></div>

      </div>

      <div id="feedBlock">

         <div id="searchBarContainer">
           <input id="searchBar" name="searchBar" placeholder="Search Location"/>

         </div>

         <div id="feed">


         </div>

      </div>
      
   </div>

  <script src="static/js/scripts.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsDtiDeWvqWcfS0m09QjO9AfoxuRj2las&callback=initMap"
    async defer></script>
</body>
</html>
