
<!-- TODO: Put a script here which checks if the user is logged in or not. If the user is not logged in, they must be redirected to the login page.  -->


<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta charset="utf-8">
  <title>Newsmap</title>
</head>
  <body>

    <div id="titleBar">
      <img src="../media/icons/profile.svg" alt="profile" id="profilePic">
      <div id="titleDiv">
        <img src="../media/logo/icon.svg" alt="logo" id="siteLogo"> 
        <h1 id="siteTitle">Newsmap</h1>
      </div>
    </div>

    <div id="siteContent">
<!--       <div id="mapBlock">
        

      </div>

      <div id="searchBlock">
        


      </div>

      <div id="feedBlock">
        


      </div> -->
      <div class="item1">1</div>
      <div class="item2">2</div>
      <div class="item3">3</div>  
    </div>






  <script src="static/js/scripts.js"></script>
  </body>
</html>
