<DOCTYPE html>
<html lang="en">
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <style>
        #map {
            height: 100%
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 39.8333333, lng: -98.585522},
                zoom: 4,
                styles: [
                    {elementType: 'water', stylers: [{color: "#444444"}]},
                    {elementType: 'labels', stylers: [{ visibility: "off"}]},
                    {
                        featureType: "poi",
                        elementType: "all",
                        stylers: [{visibility: "off"}]
                    },
                    {
                        featureType: "road",
                        elementType: "all",
                        stylers: [{visibility: "off"}]
                    },
                    {
                        featureType: "Transit",
                        elementType: "all",
                        stylers: [{visbility: "off"}]
                    },

                    {
                        featureType: 'administrative',
                        elementType: 'labels',
                        stylers: [{visibility: "off"}]
                    },
                    {
                        featureType: 'administrative',
                        elementType: 'geometry.stroke',
                        stylers: [{color: "#FFFFFF"}]
                    },
                    {
                        featureType: 'landscape',
                        elementType: 'all',
                        stylers: [{color: "#555555"}]
                    }
                ]
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsDtiDeWvqWcfS0m09QjO9AfoxuRj2las&callback=initMap"
    async defer></script>
</body>
</html>

